body {
    margin: 0;
    padding: 0;
    display: flex;
    background-color: #2a3f61;
}

.sidebar {
    width: 200px;
    background-color: #001f3f;
    padding: 10px;
    position: fixed;
    height: 100%;
}

.main-content {
    margin-left: 220px; /* Adjust this value to leave space for the sidebar */
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
}


#app-container {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #000, #001f3f); /* Black to dark blue gradient */

}


.app {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    width: 150px;
    height: 150px;
    text-align: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

p {
    margin: 0;
    font-size: 14px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Adjust the number of lines to display */
    -webkit-box-orient: vertical;
    white-space: normal;
    color: white;
}

button {
    background-color: black;
    color: #3498db;  /* Blue text color */
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 3px;  /* Less rounded corners */
}

